/* CampaignList.css */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #032954;
    color: white;
}

th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

/* Responsive Table */
@media (max-width: 768px) {

    /* Stack table rows vertically on mobile */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    th {
        display: none;
        /* Hide headers */
    }

    td {
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    td:before {
        content: attr(data-label);
        /* Use data-label attribute for mobile headers */
        position: absolute;
        left: 15px;
        font-weight: bold;
        text-align: left;
    }
}


